
strike {
    text-decoration: line-through;
}

/*  */
.right-content .list-for-you .title {
    font-size: 15px;
    font-weight: 600;
}

.v5-list {
    display: flex;
    margin: 12px 0;
    font-family: var(--fontFamily);
    font-optical-sizing: auto;
}

.v5-list .v5-list-items {
    flex-grow: 3;
}

.v5-list .v5-list-container {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
}

.v5-list .v5-grid-items {
    display: grid;
    grid-gap: 12px;
    margin-bottom: 15px;
}

.v5-list .v5-list-items .pj16-item {
    background: #fff;
    border-radius: 6px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: start;
    border: 1px solid #ededed;
    position: relative;
}

.v5-list .v5-list-items .pj16-item .pj16-item-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.v5-list .v5-list-items .pj16-item .img {
    position: relative;
    display: flex;
    gap: 8px;
    justify-content: center;
}

.v5-list .v5-list-items .pj16-item .img .left-sticker {
    left: 0;
    bottom: 0;
    top: unset;
}
.left-sticker {
    position: absolute;
    width: 80px;
    top: 6px;
    right: 12px;
    font-size: 11px;
    background: #fff;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #009981;
    color: #009981;
    text-align: center;
}

.v5-list .v5-list-items .v5-grid-items.item-4 .pj16-item .specs ul {
    width: 54.5px;
    padding: 0;
}

.v5-list .v5-list-items .pj16-item .specs ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.v5-list .v5-list-items .pj16-item .specs ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
    font-size: 12px;
    color: rgba(117, 117, 117, 1);
}

.v5-list .v5-list-items .pj16-item .specs ul li label.icon {
    padding: 4px;
    background: rgba(243, 243, 243, 1);
    border-radius: 9999px;
}

.v5-list .v5-list-items .pj16-item .specs ul li label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.v5-list .v5-list-items .pj16-item .specs ul li span {
    font-size: 11px;
}

.icon-CPU::before,
.icon-Battery::before,
.icon-Storage::before {
    content: "";
    display: block;
    background-color: #7d7c7c;
    mask-size: contain;
    width: 11px;
    height: 11px;
}
.icon-CPU::before {
    mask-image: url(@/assets/icon/cpu.svg);
}
.icon-Battery::before {
    mask-image: url(@/assets/icon/battery.svg);
}
.icon-Storage::before {
    mask-image: url(@/assets/icon/trello.svg);
}

.v5-list .v5-list-items .pj16-item h3 {
    text-align: start;
    margin: 0;
}

.v5-list .v5-list-items .pj16-item h3 a {
    color: var(--blackText);
    font-size: 12px;
    font-weight: 600 /*;height:29px*/;
    display: -webkit-box;
    /* -webkit-line-clamp: 2; */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 3em;
}

.item-gap8px {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.v5-list .v5-list-items .pj16-item .price-last {
    display: flex;
    text-align: center;
    gap: 8px;
    font-size: 11px;
    line-height: 16.5px;
}
.v5-list .v5-list-items .pj16-item .price {
    font-size: 15px;
    display: flex;
    justify-content: start;
    justify-items: stretch;
}

.v5-list .v5-list-items .pj16-item .price s {
    color: #C9C9C9;
}

.v5-list .v5-list-items .pj16-item .price span {
    color: rgba(253, 71, 90, 1);
    font-weight: 600;
}

.v5-list .v5-list-items .pj16-item .price strong {
    color: #FD475A;
    line-height: 22.5px;
}